a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:white;
}
.btn-principal{
    background-color: #005790;
    color:white;
    padding: 5px 25px;
    font-weight: 600;
    font-size:20px;
    border:none;
    border-radius:5px;
    cursor: pointer;
    text-decoration: none;
}
.btn-principal:hover{
    background-color: #004a7c;
}
.btn-secundario{
    box-sizing: border-box;
    text-decoration: none;
    background-color: white;
    color:  #005790;
    text-decoration:none;
    padding: 5px 25px;
    font-weight: 600;
    font-size:20px;
    border: solid 2px  #005790;
    border-radius:5px;
    cursor: pointer;
}
.btn-secundario:hover{
    background-color: #e8e8e8;
    color:  #005790;
}
.btn-terciario{
    box-sizing: border-box;
    text-decoration: none;
    background-color: #0499FA;
    color:  white;
    text-decoration:none;
    padding: 5px 25px;
    font-weight: 600;
    font-size:20px;
    border: solid 2px  #0499FA;
    border-radius:5px;
    cursor: pointer;
}

.btn-terciario:hover{
    background-color: #0185dd;
    border: solid 2px  #0499FA;
}

.card{
    background-color:#F8F8F8;
    border: 4px solid #E4E4E4;
    border-radius: 5px;
}
.btn-editar{
    background-color:#759CFF;
    border: 5px solid #5E82DF;
    color:white;
    border-radius:8px;
    width:60px;
    height:60px;
    cursor: pointer;
}
.btn-editar:hover{
    background-color:#6185E2;
    border: 5px solid #5E82DF;
    cursor: pointer;
}
.btn-remover{
    background-color:#FF7575;
    border: 5px solid #E55E5E;
    color:white;
    border-radius:8px;
    width:60px;
    height:60px;
    cursor: pointer;
}
.btn-remover:hover{
    background-color:#E55E5E;
    border: 5px solid #E55E5E;
    cursor: pointer;
}

.btn-remover-sm{
    background-color:#FF7575;
    border: 5px solid #E55E5E;
    color:white;
    border-radius:8px;
    width:26px;
    height:26px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-remover-sm:hover{
    background-color:#E55E5E;
    border: 5px solid #E55E5E;
    cursor: pointer;
}

.btn-editar-sm{
    background-color:#759CFF;
    border: 5px solid #5E82DF;
    color:white;
    border-radius:8px;
    width:26px;
    height:26px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-editar-sm:hover{
    background-color:#6185E2;
    border: 5px solid #5E82DF;
    cursor: pointer;
}